.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style-red {
    color: #d63b3b;
}

.shortcut {
    height: 30px;
    background-color: #f1f1f1;
    line-height: 30px;
}

.shortcut li {
    float: left;
}