.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style-red {
    color: #d63b3b;
}

.space {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 8px 12px 0;
}

.shortcut {
    height: 30px;
    background-color: #f1f1f1;
    line-height: 30px;
}

.shortcut li {
    float: left;
}

.header {
    position: relative;
    height: 120px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 100px;
    bottom: 0px;
    width: 100px;
    height: 100px;
}

.logo a {
    display: block;
    width: 100px;
    height: 100px;
    font-size: 0;
}

.search {
    position: absolute;
    top: 30px;
    left: 350px;
}

.text {
    float: left;
    width: 440px;
    height: 45px;
    border: 4px solid #fa3535;
    padding-left: 10px;
    color: grey;
}

.btn {
    float: left;
    width: 85px;
    height: 53px;
    background-color: #fa3535;
    border: 0;
    font-size: 15px;
    color: #fff;
}